# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** <br>
- List popular languages for Data Science
- List commonly used libraries in Data Science
- List Open Source Data Science Tools
- Display examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Scikit Learn
3. NumPy
4. Matplotlib
5. Seaborn

In [3]:
%%html
<style>
    table {float:left}
</style>


| Data Science Tools |
| --- |
| Jupyter |
| RStudio |
| Spyder |
| Atom |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Rafael Mirandola da Rocha